* {
    box-sizing: border-box;
}

body {
    background: black;
    margin: 0;
}

p {
    color: rgb(0, 190, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background: url("../img/ob.png") center/cover no-repeat fixed;
    height: 15vh;
    border: 5px groove grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}